
@{
    ViewBag.Title = "UspesnaRegistracija";
}

<div class="w3-display-container">
    <img src="~/App_Data/image.png" alt="Taxi" class="w3-opacity-min" style="no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
    <div class="w3-display-middle w3-large">
        <h2>Uspesno ste se registrovali!</h2>
        <h1><a href="~/Home/Index">Ulogujte se</a></h1>
    </div>
</div>

